*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
    .box{
    background-color: black;
    color: white;
}
.main{
    display:flex;
    justify-content:space-between;
    align-items: flex-start; 
   padding:  60px;
   margin: 0 auto;
  
}
.logo{
   
    flex: 1;
    align-items: center;
    margin: 0  auto;
    max-width: 200px;


    img{max-width: 60px;
        margin-bottom: 10px;
    }
    .wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: fit-content;  
    // fit content მოძიებული ინფორმაციაა
    }
   
}
.menu{
 display: flex;
 flex: 2;
  justify-content: space-between;
 gap: 50px;
 
  
 a{color:#b1abab}
li{ line-height: 3;}

}




.footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-top: 1px solid rgb(177, 171, 171);
   margin: 40px;
   padding: 20px;

}
.join-community{
    justify-content: center;
    align-items: center;
  ul{
    display: flex;
    gap: 20px;
    margin: 0 auto
  }
  img{
    max-width: 24px;
     margin: 15px 0 40px 0;}
  h2{margin:0;}

}
.payment-methods{
    img{ max-width: 50px;}
        .icons{
            display: flex;
            gap: 15px;}

        h2{margin: 0;margin-bottom: 12px;}

}