*{
  padding: 0;
margin: 0;
box-sizing: border-box;
list-style: none;
text-decoration: none;
}

.container {
  height: 100vh;
  background-image: url(./image/1page.avif);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.section1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
}

.first-side,
.second-side {
  width: 50%;
}

.card {
  border-radius: 25px;
  max-width: 500px;

  background-color: rgb(135, 88, 237);

}

.second-side img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}
.text{
    padding: 21px 60px;
}
p {
  color: white;
  font-size: 22px;
}

h2 {
  color: white;
  font-size: 60px;
 margin: -14px 0;
}

button {
  background-color: white;
  padding: 15px 37px;
  border: none;
  border-radius: 50px;
  margin-bottom: 20px;
}

button span {
  color: rgb(135, 88, 237);
  font-size: 15px;
  font-weight: bold;
}



  