*{
  padding: 0;
margin: 0;
box-sizing: border-box;
list-style: none;
text-decoration: none;
}

@font-face {
  font-family:"montserrat-bold" ;
  src: url(./fonts/montserrat/static/Montserrat-Bold.ttf);
}
// section1
.container {
  height: 100vh;
  background-image: url(./image/1page.avif);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.section1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
}

.first-side,
.second-side {
  width: 100%;
}


.first-side{
  position: relative;

}
.card {
  display: flex;
  flex: 1;
max-width: 600px;
border-radius: 25px;
border: 1px solid none; 
 position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translate(-50% -50%);
  background-color: rgb(135, 88, 237);
}

.second-side img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}
.text{
    padding: 20px 60px;
    
    border-radius: 25px;
  // max-width: 500px;


}
p {
  color: white;
  font-size: 22px;
}

h2 {
  color: white;
  font-size: 60px;
 margin: 22px 0;
}

button {
  background-color: white;
  padding: 15px 37px;
  border: none;
  border-radius: 50px;
  margin: 20px 0;
}

button span {
  color: rgb(135, 88, 237);
  font-size: 15px;
  font-weight: bold;
}
// SECTION2 

.container-section2{
background-color: black;
padding: 30px;
}
.header-section2{
  display: flex;
  justify-content: space-between;
  align-items: center;
max-width: 1300px;
margin-left: 50px;
padding: 30px;

  h2{
    font-size: 42px;
     font-family: "montserrat-bold";
  }

.button-view{ 
    border: 2px solid white;
    color: rgb(135, 88, 237) ;
    background-color: white;
    font-weight: bold;
    cursor: pointer; 
    padding: 10px 36px;
     font-family: "montserrat-bold";

    &:hover{ 
    background-color:rgb(135, 88, 237) ;
    color: white;
  }
    
      
   }
}



// product-wrapper style

.product-wrapper{

display: flex;
gap: 20px;
padding: 20px 0;
overflow-x: auto;
scroll-behavior: smooth;
margin: 0 auto;
max-width: 1200px;




.product-card{
position: relative;
display: flex;
align-items: center;
flex-direction: column;

flex-shrink: 0;
min-width: 300px;
 scroll-snap-align: start;
}
  img{
   
    max-width: 300px;
    object-fit: contain;
    
      
    }
  }
  h3{
    font-size: 16px;
    margin: 15px 0 5px;
     color: white;
     font-family: sans-serif;
    
  }
}
.price{
  color: white;
  font-weight: bold;
  font-size: 16px;
}
.old-price{
  text-decoration: line-through;
  color: rgb(191, 185, 185);
  font-size: 14px;
}
.price-box{
  display: flex;
  align-items: center;
  gap: 10px;
}
.product-card button{
 
  color: white;
  border:none;
  border-radius: 25px;
   background: linear-gradient(90deg, #7b4dff, #a855f7);
  cursor:pointer;
  font-weight: bold;
  padding: 10px 20px;
  font-size: 15px;
   font-family: "montserrat-bold";

  &:hover{
    background: white;
    color:rgb(135, 88, 237);
    text-decoration: underline;
  }
  }
.sale-badge{
  position: absolute;
  top: 0;
  left: 24px;
   background-color:rgb(135, 88, 237) ;
   color: white;
   font-size: 14px;
   padding: 6px 15px;
   border-radius: 20px;
   font-family: sans-serif;
}



  