* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

@font-face {
  font-family: "montserrat-bold";
  src: url(./fonts/montserrat/static/Montserrat-Bold.ttf);
}
@font-face {
  font-family: "roboto";
  src: url(./fonts/roboto/static/Roboto-Thin.ttf);
}
.container {
  height: 100vh;
  background-image: url(./image/1page.avif);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.section1 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
  gap: 30px;
}

.first-side,
.second-side {
  width: 100%;
  position: relative;
}

.first-side {
  position: relative;
  display: flex;
  align-items: flex-start;
}

.card {
  display: flex;
  flex: 1;
  max-width: 600px;
  border-radius: 25px;
  border: 1px solid none;
  position: relative;
  left: 10px;
  right: 15px;
  transform: translate(-50% -50%);
  background-color: rgb(135, 88, 237);
}

.second-side img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  margin-left: 20px;
}

.text {
  padding: 20px 60px;
  border-radius: 25px;
}

p {
  color: white;
  font-size: 22px;
}

h2 {
  color: white;
  font-size: 60px;
  margin: 22px 0;
}

button {
  background-color: white;
  padding: 15px 37px;
  border: none;
  border-radius: 50px;
  margin: 20px 0;
}

button span {
  color: rgb(135, 88, 237);
  font-size: 15px;
  font-weight: bold;
}

.container-section2 {
  background-color: black;
  padding: 30px;
}

.header-section2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin-left: 50px;
  padding: 30px;
}
.header-section2 h2 {
  font-size: 42px;
  font-family: "montserrat-bold";
}
.header-section2 .button-view {
  border: 2px solid white;
  color: rgb(135, 88, 237);
  background-color: white;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 36px;
  font-family: "montserrat-bold";
}
.header-section2 .button-view:hover {
  background-color: rgb(135, 88, 237);
  color: white;
}

.product-wrapper {
  display: flex;
  gap: 20px;
  padding: 20px 0;
  overflow-x: auto;
  scroll-behavior: smooth;
  margin: 0 auto;
  max-width: 1200px;
}
.product-wrapper .product-card {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;
  min-width: 300px;
  scroll-snap-align: start;
}
.product-wrapper img {
  max-width: 300px;
  -o-object-fit: contain;
     object-fit: contain;
}
.product-wrapper h3 {
  font-size: 16px;
  margin: 15px 0 5px;
  color: white;
  font-family: sans-serif;
}

.price {
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.old-price {
  text-decoration: line-through;
  color: rgb(191, 185, 185);
  font-size: 14px;
}

.price-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-card button {
  color: white;
  border: none;
  border-radius: 25px;
  background: linear-gradient(90deg, #7b4dff, #a855f7);
  cursor: pointer;
  font-weight: bold;
  padding: 10px 20px;
  font-size: 15px;
  font-family: "montserrat-bold";
}
.product-card button:hover {
  background: white;
  color: rgb(135, 88, 237);
  text-decoration: underline;
}

.sale-badge {
  position: absolute;
  top: 0;
  left: 24px;
  background-color: rgb(135, 88, 237);
  color: white;
  font-size: 14px;
  padding: 6px 15px;
  border-radius: 20px;
  font-family: sans-serif;
}

.main-section3 {
  background-color: rgb(36, 35, 36);
  color: white;
  margin: 0 auto;
  padding: 20px;
}

.header-section3 h2 {
  font-family: "montserrat-bold";
  font-size: 42px;
  padding: 25px;
  margin: 20px;
}

.box-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 30px;
  margin: 10px;
  flex-wrap: wrap;
}

.box-category-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  max-width: 400px;
}

.shop-item {
  border-radius: 25px;
  max-width: 400px;
  height: 500px;
  overflow: hidden;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
img:hover {
  transform: scale(1.05);
}

.box-category a {
  color: white;
  font-size: 22px;
  font-family: "roboto";
  margin-top: 10px;
  font-weight: 1000;
}/*# sourceMappingURL=page1.css.map */